.footer {
  text-transform: uppercase;
  margin: 30px auto;
}

.footer h3 {
  text-align: left;
}

.footer nav {
  text-align: center;
  color: var(--primary-color);
}

.footer nav > a + a {
  margin-left: 10px;
}
