.header {
  position: sticky;
  top: 0;
  background: white;
  height: 64px;
  line-height: 64px;
}

.header > div {
  height: 100%;
  display: grid;
  justify-items: end;
  grid-template-columns: auto 1fr;
  text-transform: uppercase;
}

.title {
  color: var(--primary-color);
  margin: 0;
  font-size: 1.4rem;
  font-weight: normal;
}

.links {
  display: flex;
}

.links > a {
  padding: 0 15px;
  color: inherit;
}

.active {
  font-weight: bold;
}
