// Variable overrides

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

// Custom styles
.ratio-img {
  height: 100%;
  min-width: 230px;
  padding-top: 62%;
  position: relative;
  overflow: hidden;
}

.ratio-img > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.warn {
  color: red;
}

iframe {
  display: block;
}

.partner-image {
  max-height: 90px;
}

.partner-image + .partner-image {
  margin-left: 4px;
}
